###############################################################################
# Ignore these files
###############################################################################

.*
*.tfstate*
*-config

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.prettierignore
!.prettierrc
!.terraform.lock.hcl
